@charset "ISO-8859-1";

body{
	background-color: #808080;
}

table{
	margin-right:auto;
	margin-left:auto;
}
h2{
	text-align:center;
	font-weight:bould;
	font-size:30px;
}
p{
	text-align:center;
}